[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
nose-timer = "*"
coverage = "*"
pymongo = "*"

[packages]
discord = "*"
python-dateutil = "*"
requests = "*"
numpy = "*"
matplotlib = "*"
humanize = "*"
httpx = "*"
motor = "*"

[requires]
python_version = "3.7"
